/* Effects */

.hidden {
    display:none;
}

.glow {
    box-shadow: 0 0 20px yellow;
}

/*Tab content */

.tab-content {
    display: none;
}

.tabs button{
    background-color:#003507;
    color:white;
    padding: 15px;
    border: none;
    font-size:25px;
    font-family:'Times New Roman';
}

.tabs button:hover{
    background-color:#008111;
    color:white;
    padding: 15px;
    border: none;
    font-size:25px;
    font-family:'Times New Roman';
}

/* Buttons inside tabs*/

.anyButton {
    background-color:#0b8ade;
    color:rgb(0, 0, 0);
    padding: 1%;
    border: 2%;
    font-size: 100%;
    font-family:'Times New Roman';
}

.upgrade {
    background-color:#be9200;
    color:rgb(0, 0, 0);
    padding: 1%;
    border: 2%;
    font-size: 100%;
    font-family:'georgia';
}
/* Story box */

#Story {
    position: absolute;
    top: 0%;
    left: 75%; 
    background: #939393;
    padding: 1%;
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #000000;
}

#storyTitle {
    font-size: 30px;
    font-family: "georgia";
}

/* Progress bars */
.progress-container {
    width: 350px;
    background-color: #c2c2c2;
    height: 40px;
    margin: 10px 0;
    align-items: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    }

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition:all;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.progress-text {
    font-weight: bold;
    pointer-events: none;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
}    

/* Death Screen */
#youDied {
    position: absolute;
    font-weight: bold;
    font-size: 160px;
    z-index:10;
    color:red;
}

#hideDeath {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background:rgb(241, 241, 241);
    top: 0%;
    left: 0%;
}